@font-face {
	font-family:'heldane';
	src: url('/fonts/heldane-display-web-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/heldane-display-web-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/heldane-display-web-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/heldane-display-web-regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'heldane';
	src: url('/fonts/heldane-display-web-regular-italic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/heldane-display-web-regular-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/heldane-display-web-regular-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/heldane-display-web-regular-italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}