@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* scroll-behavior: smooth; */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    @apply appearance-none rounded-none transition-colors 
}

.page-enter-active,
.page-leave-active {
    @apply transition-opacity duration-500;
}

.page-enter,
.page-leave-to {
    @apply opacity-0
}

[id] {
    scroll-margin-top: 6rem;
}

em {
    @apply italic;
}

.rich-text {
    ul,
    ol,
    p {
        @apply mb-8;

        @screen lg {
            @apply text-xl leading-relaxed;
        }
    }

    h4 {
        @apply uppercase font-bold tracking-wide mb-8;

        @screen lg {
            @apply text-lg;
        }
    } 
      
    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }
    
    ol,
    ul {
        @apply list-inside;
    }

    /* ul:last-child,
    ol:last-child,
    p:last-child {
        @apply mb-0;
    } */
}

.rich-text--lg  {
    ul,
    ol,
    p {
        @apply mb-8;

        @screen lg {
            @apply text-2xl mb-8;
        }
    }

    h1,
    h2,
    h3 {
        @apply font-serif text-2xl mb-8 leading-snug;

        @screen lg {
            @apply text-5xl;
        }
    }
}

.links {
    a {
        @apply border-current hover:text-magenta transition-colors;
    }

    a:not([href^="mailto"]) {
        @apply border-b;
    }
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
    /*  transition is applied to lazyloaded not lazyload */
	transition: opacity 300ms;
}